/* detail.css*/

#container .detail {padding:50px 0 0;background:#fff;border-bottom:2px solid #ccc;}
#container .detail .imgArea,
#container .detail .infoArea{float:left;}
#container .detail .imgArea {padding:0 3%;width:30%;text-align:center;}
#container .detail .imgArea > img {width:100%;height:100%;}
#container .detail .infoArea {padding:0 2% 0 0;width:62%;}
#container .detail .infoArea .name {margin:0 0 15px;font-size:18px;}
#container .detail .infoArea .rate {margin:0 0 15px;}
#container .detail .infoArea .rate img {width:12px;height:12px;margin:0 2px;}
#container .detail .infoArea .point span {margin:0 0 0 20px;}
#container .detail .infoArea .point span:first-child {margin:0;}
#container .detail > p {border-top:2px solid #ccc;}
#container .detail > p a {display:block;padding:15px 15px 15px 40px;font-size:12px;}
#container .detail > p a img,
#container .review a img,
#container .shopInfo a img{float:right;width:12px;height:20px;}
#container .detail .adress {margin:10px 0 0;background:url(../images/bolt.png) no-repeat 10px 15px;background-size:24px 24px;}
#container .detail .tel {background:url(../images/tel.png) no-repeat 10px 15px;background-size:24px 20px;}
#container .review,
#container .shopInfo,
#container .nearby {margin:15px 0 0;background:#fff;border-bottom:2px solid #ccc;}
#container .review {border:0;}
#container .review h2,
#container .shopInfo h2,
#container .nearby h2 {border-top:2px solid #ccc;border-bottom:2px solid #ccc;}
#container .review h2 a,
#container .shopInfo h2 a,
#container .nearby h2 {display:block;padding:15px 15px 15px 10px;font-size:16px;}

/* review.css */
#container .review.resize {padding:25px 0 0;}
#container .review ul li {border-bottom:2px solid #ccc;}
#container .review .inner {padding:10px;color:#7b7b7b;}
#container .review .inner .userImg {float:left;width:15%;text-align:center;}
#container .review .inner .userImg img{width:80%;height:80%;}
#container .review .inner .message {float:left;width:85%;}
#container .review .inner .message p {margin:0 0 10px;}
#container .review .inner .userId .rate{float:right;padding:0 20px 0 0;}
#container .review .inner .message .words {}
#container .review .inner .message .attachImg ul>li {float:left;}
#container .review .inner .message .attachImg img {width:80px;height:80px;margin:0 3px;}
#container .review .inner .message .time {margin:0;font-size:10px;color:#d5d5d5;}
#container .shopInfo p {padding:20px;font-size:15px;}
#container .nearby {padding:0 0 40px;border-bottom:0}
#container .nearby ul {margin:15px 0;}
#container .nearby ul li {float:left;width:33.33%;font-size:0;}
#container .nearby ul li a img {width:100%;}

/* shopinfo.css */
#container .shopdetailInfo {padding:50px 0 20px;}
#container .shopdetailInfo .shopDetail {position:relative;}
#container .shopdetailInfo .shopDetail .infoArea {float:left;width:70%;}
#container .shopdetailInfo .shopDetail .infoArea h2,
#container .shopdetailInfo .shopDetail .infoArea p {margin:0 0 0 10px;}
#container .shopdetailInfo .shopDetail .infoArea h2 {padding:0 0 5px;}
#container .shopdetailInfo .shopDetail .infoArea p {padding:10px 0;border-top:1px solid #ccc;}
#container .shopdetailInfo .shopDetail .imgArea {position:absolute;top:50%;right:0;margin:-40px 0 0;float:right;width:30%;text-align:center;}
#container .shopdetailInfo .shopDetail .imgArea img {width:80px;border:2px solid #ccc;}
#container .shopdetailInfo .type {padding:10px;border-top:2px solid #ccc;border-bottom:2px solid #ccc;}
#container .shopdetailInfo .nearbyShop {position:relative;}
#container .shopdetailInfo .nearbyShop h2 {position:absolute;top:-4px;left:10px;width:60px;height:20px;background:#88a7cc;font-size:12px;color:#fff;text-align:center;line-height:20px;font-weight:normal;}
#container .shopdetailInfo .nearbyShop ul {display:table;width:100%;font-size:0;}
#container .shopdetailInfo .nearbyShop ul li {display:inline-block;margin:20px 0 0;width:25%;text-align:center;vertical-align:top}
#container .shopdetailInfo .nearbyShop ul li a {display:block;padding:0 10px;font-size:12px;}
#container .shopdetailInfo .nearbyShop ul li img {width:60px;margin:0 0 5px;}

/* comment.css */
#header .topTool.writeBtn {line-height:normal;padding:5px 0 0;}
#header .topTool.writeBtn a{display:block;width:60px;height:30px;line-height:30px;background:#ff6633;-webkit-border-radius: 5px;-moz-border-radius: 5px;color:#fff;}
#container .comment {padding:40px 0 20px;}
#container .comment .rate {padding:10px;border-bottom:2px solid #ccc;}
#container .comment .rate h2,
#container .comment .rate ul,
#container .comment .rate ul li{float:left;}
#container .comment .rate ul {margin:0 0 0 10px;}
#container .comment .rate ul img {width:24px;height:24px;margin:0 5px;}
#container .comment .write .textarea {padding:10px;}
#container .comment .write textarea {padding:0;width:100%;overflow-y:auto;border:0;}
#container .comment .write .info {padding:10px;text-align:right;color:#c0c0c0;font-size:13px;}
#container .comment .attach {}
#container .comment .attach .info {padding:10px;margin:0 0 20px;border-bottom:1px solid #ccc;font-size:13px;color:#777;}
#container .comment .attach .attachArea {padding:0 10px;font-size:0;}
#container .comment .attach .attachArea li {display:inline-block;width:33.33%;}
#container .comment .attach .attachArea li img{width:90%;height:90%;}
